<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Emma.WiktionaryParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Emma.WiktionaryParser.Properties.Settings>
            <setting name="InputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LexiconFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SafeLexiconFile" serializeAs="String">
                <value />
            </setting>
        </Emma.WiktionaryParser.Properties.Settings>
    </applicationSettings>
</configuration>