<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmmaWords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EmmaWords.Properties.Settings>
            <setting name="WiktionaryXml" serializeAs="String">
                <value>C:\Users\huggl\wirds\dict\enwiktionary-20221120-pages-articles.xml</value>
            </setting>
            <setting name="DictionaryFile" serializeAs="String">
                <value>C:\Users\huggl\wirds\dict\dictionary.tsv</value>
            </setting>
            <setting name="BonusFile" serializeAs="String">
                <value>C:\Users\huggl\wirds\dict\bonus.tsv</value>
            </setting>
            <setting name="TwitchUsername" serializeAs="String">
                <value>emma_is_bot</value>
            </setting>
            <setting name="CommandPrefix" serializeAs="String">
                <value>!emma</value>
            </setting>
            <setting name="WordListFolder" serializeAs="String">
                <value>C:\Users\huggl\wirds\list</value>
            </setting>
            <setting name="GameColumns" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GameRows" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinWordLength" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxWordLength" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="TwitchChannel" serializeAs="String">
                <value>gurchy</value>
            </setting>
            <setting name="HomeChannel" serializeAs="String">
                <value>gurchy</value>
            </setting>
            <setting name="TwitchClientID" serializeAs="String">
                <value>sz8wv9zmt41q73q0797x27vs0qrybw</value>
            </setting>
            <setting name="TwitchOAuth" serializeAs="String">
                <value>ndus6edsz5rm63r4r4hu9kh0jxsfks</value>
            </setting>
            <setting name="TwitchAccessToken" serializeAs="String">
                <value>m8xlxqjxsbblpboopw1f7kkw481vvd</value>
            </setting>
            <setting name="StartMusic" serializeAs="String">
                <value>C:\Users\huggl\streaming\strim.wav</value>
            </setting>
            <setting name="ShortCommandPrefix" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="LearnFolder" serializeAs="String">
                <value>C:\Users\huggl\wirds\learn</value>
            </setting>
        </EmmaWords.Properties.Settings>
    </applicationSettings>
</configuration>