<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Emma.Stream.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Emma.Stream.Properties.Settings>
            <setting name="CommandPrefix" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="EmoteCache" serializeAs="String">
              <value></value>
            </setting>
            <setting name="TwitchUsername" serializeAs="String">
              <value></value>
            </setting>
            <setting name="TwitchChannel" serializeAs="String">
              <value></value>
            </setting>
            <setting name="TwitchChannelID" serializeAs="String">
              <value></value>
            </setting>
            <setting name="TwitchClientID" serializeAs="String">
              <value></value>
            </setting>
            <setting name="StartMusic" serializeAs="String">
              <value></value>
            </setting>
            <setting name="BaseFolder" serializeAs="String">
              <value></value>
            </setting>
            <setting name="TwitchBotAccessToken" serializeAs="String">
              <value></value>
            </setting>
            <setting name="TwitchChannelAccessToken" serializeAs="String">
              <value></value>
            </setting>
        </Emma.Stream.Properties.Settings>
    </applicationSettings>
</configuration>